<!DOCTYPE html>
<head xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8">
    <title>Separador de Registros de Ponto</title>
    <link rel="stylesheet" href="w3.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body style="background-color: white">
<div id="separadorApp">
    <div class="w3-container w3-blue-gray w3-margin-bottom w3-card-4">
        <header><h2>Separador de registros de ponto</h2></header>
    </div>
    <div class="w3-row" style="margin-left: 3%; margin-right: 3%">
        <input-lista-registros
                v-on:input="updateTxtListaRegistrosPonto"
                class="w3-margin-right">
        </input-lista-registros>
        <lista-matriculas-unicas
                :array-registros-ponto="arrayRegistrosPonto"
                @registro-atualizado="updateArrayMatriculasDivergentes"
                @exibir-relatorio-funcionario="exibirRelatorioFuncionario"
                class="w3-margin-right">
        </lista-matriculas-unicas>
        <download-arquivos
                :array-matriculas-unicas="arrayMatriculasDivergentes"
                :array-registros-ponto="arrayRegistrosPonto">
        </download-arquivos>
    </div>
    <relatorio-matricula
            :funcionario="funcionarioRelatorio"
            :registros-ponto="arrayRegistrosPonto"
            @ocultar-relatorio="exibirRelatorioFuncionario">
    </relatorio-matricula>
</div>

<script type="text/x-template" id="inputListaRegistros">
    <div class="w3-margin-bottom w3-col s4 w3-card-4">
        <header class="w3-container w3-blue-grey">
            <h3 id="quantidadeRegistros">
                Registros do ponto ({{ totalRegistrosPonto }})
            </h3>
        </header>
        <div class="w3-container">
               <textarea
                       class="w3-input w3-margin-bottom"
                       cols="33" rows="10"
                       placeholder="Cole aqui todos os registros do ponto certificando-se de que há apenas um por linha"
                       v-model="listaRegistrosPonto"
                       @input="updateListaRegistros($event.target.value)">
                </textarea>
        </div>
    </div>
</script>

<script type="text/x-template" id="tabelaMatriculasUnicas">
    <div class="w3-margin-bottom w3-col s4 w3-card-4" v-show="arrayMatriculasUnicas.length > 0">
        <header class="w3-container w3-blue-grey">
            <h3 id="quantidadeMatriculas">Matrículas ({{ arrayMatriculasUnicas.length }})</h3>
        </header>
        <div class="w3-container">
            <div class="w3-content">
                <table class="w3-table w3-striped w3-margin-bottom w3-bordered">
                    <tr><th>Matrícula</th><th>Tipo</th></tr>
                    <tr v-for="funcionario in arrayMatriculasUnicas" :key="funcionario.matricula">
                        <td>{{ funcionario.matricula }}</td>
                        <td>
                            <seletor-tipo-matricula
                                    :funcionario="funcionario"
                                    @funcionario-atualizado="funcionarioAtualizado(funcionario)">
                            </seletor-tipo-matricula>
                        </td>
                        <td>
                            <a href="#" @click="exibirRelatorioFuncionario(funcionario)">
                                <i class="material-icons">assignment</i>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</script>

<script type="text/x-template" id="seletorTipoMatricula">
    <div>
        <input type="radio"
               @click="updateTipoMatricula($event.target)"
               :name="funcionario.matricula"
               value="servidor"
               :checked="isTipoServidor"
               class='w3-radio'>
        <label class='w3-margin-right'>Servidor</label>
        <input type="radio"
               @click="updateTipoMatricula($event.target)"
               :name="funcionario.matricula"
               value="terceirizado"
               :checked="isTipoTerceirizado"
               class='w3-radio'>
        <label>Terceirizado</label>
    </div>
</script>

<script type="text/x-template" id="downloadArquivos">
    <div class="w3-margin-bottom w3-col s3 w3-card-4" v-if="existeDivergenciaMatriculas">
        <header class="w3-container w3-blue-gray w3-margin-bottom">
            <h3>Registros separados</h3>
        </header>
        <div class="w3-container w3-center w3-margin-bottom">
            <a id="btnDownloadServidores"
               :href="registrosServidores"
               :download="nomeArquivoServidores"
               class="w3-button w3-block w3-margin-bottom">Registros do tipo <b>Servidor</b> ({{ totalRegistrosServidores }})</a>
            <a id="btnDownloadTerceirizados"
               :href="registrosTerceirizados"
               :download="nomeArquivoTerceirizados"
               class="w3-button w3-block ">Registros do tipo <b>Terceirizado</b> ({{ totalRegistrosTerceirizados }})</a>
        </div>
    </div>
</script>

<script type="text/x-template" id="relatorioMatricula">
    <div class="w3-modal w3-show" v-if="exibirRelatorio">
        <div class="w3-modal-content">
            <header class="w3-container w3-blue-gray">
              <span class="w3-button w3-display-topright"
                    @click="ocultarRelatorioFuncionario">&times;</span>
                <h2>Registros de ponto</h2>
            </header>
            <div class="w3-container">
                <p>Matrícula: {{ funcionario.matricula }} - Tipo: {{ funcionario.tipo }}</p>
                <table class="w3-table w3-striped w3-margin-bottom w3-bordered">
                    <tr><th>Data</th><th>Dia da Semana</th><th>Hora</th></tr>
                    <tr v-for="registro in registrosPontoMatricula">
                        <td>{{ registro.data }}</td>
                        <td>{{ registro.diaSemana }}</td>
                        <td>{{ registro.hora }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</script>

</body>
<script src="vue.js"></script>
<script src="separador.js"></script>
